#menu{
    border: 1px solid black;
}

#menu >ul{
    background: #2c3e50;
}
#menu ul{
    list-style-type: none;
    position: relative;
    margin: 0;
    padding: 0;
    float: left;
    display: block;
}
#menu ul a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    line-height: 32px;
    padding: 0 15px;
    
    /* font-weight: bold; */
}

#menu ul li{
float: left;
position: relative;
margin: 0;
padding: 0;
}

#menu ul li:hover{
    background: #2ecc71;
}

#menu ul ul{
    position: absolute;
    background: #27ae60;
    top: 100%;
    left: 0;
    display: none;
}

#menu ul ul li{
    float: none;
    width: 200px;
}
#menu ul ul li:hover{
    border-left:3px solid #2c3e50;
}
#menu ul ul ul{

    top: 0px;
    left: 100%;

}

#menu ul li:hover>ul{
    display: block;
}